<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Паша Писатель</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/galleria-1.2.9.min.js")"></script>
    <link href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" type="text/css" />


    @*<script>
            $(function () {
                var isInitGallery = false;
                var isInitFullGallery = false;
                $(".see").click(function () {
                    $(".see").toggle();
                    $("#galleria").toggle();
                    if (!isInitGallery) {
                        Galleria.loadTheme('@Url.Content("~/Scripts/galleria-1.2.9.min.js")');
                        Galleria.run('#galleria');
                        isInitGallery = true;
                    }
                });

                $("#full").click(function () {
                    $(".block").hide("slow");
                    $(".full").show();
                    if (!isInitFullGallery) {
                        Galleria.loadTheme('@Url.Content("~/Scripts/galleria-1.2.9.min.js")');
                        Galleria.run('#galleria-full');
                        isInitFullGallery = true;
                    }
                });

                $("#full-end").click(function () {
                    $(".block").show("slow");
                    $(".full").hide("slow");
                });
            });

        </script>*@

</head>
<body>
    <div style="padding-bottom:10px;">
        <h1>Сайт ещё не готов</h1>
        В перву очередь это сайт существует, что бы вы дорогие читатели, могли скачать мои книги в любом удобном для вас виде.
    </div>

    @*<div class="block school faq">
            <div class="title">Лабиринт</div>
            <div id="description">
                Лабиринт можно смотреть <a href="лабиринт.html">тут</a>
            </div>
        </div>*@

@*<div class="block Carrier download">
            <div class="title">Визуальная новелла "Курьер"</div>
            <div>
                Cкачать визуальную новеллу "Курьер"
            </div>
            <div>
                <a href="Carrier-demo.zip"><img src="img/download-icon.png" border="0px" width="64px" height="64px" /></a>
            </div>
        </div>*@
    <div class="block academy faq">
        <div class="title">Чего ждать от Академии?</div>
        <div id="description">
            Академия это научная фантастика. Её можно отнести к космической фантастике, ведь все действия происходят не на Земле. Изначально книга даже называлась "Космическая академия", но поскольку там нет ни звездолётов, ни путешествий между планетами, ни даже скафандров, а весь сюжет строится вокруг попыток главных героев выжить в новом, не понятном для них мире, слово Космическая было убрано. Следовательно, я рекомендую прочитать Академию, если вы ищите либо приключенческого боевика где герои на каждой странице ждут выстрела из тёмного угла, либо психологического закрученного сюжета, в котором герои по крупицам информации что случайно попадаются им, строят мнение об организации частью которой они теперь являются.
        </div>
    </div>
    <div class="block academy download">
        <div class="title">Скачать книгу "Академия"</div>
        <div>
            Cкачать Академию просто кликнув по иконке привычного для вас формата. Форматы .doc .txt .fb2 .rtf
        </div>
        <div>
            Так же вы можете установить приложение/книгу на свой телефон с GooglePlay (подходит только для телефонов c Android)
        </div>
        <div>
            <a href="@Url.Action("DownloadBook", "Home", new { bookName = "Academy.doc"})"><img src="@Url.Content("~/Content/home/word-icon.png")" border="0px" width="64px" height="64px" /></a>
            <a href="@Url.Action("DownloadBook", "Home", new { bookName = "Academy.txt" })"><img src="@Url.Content("~/Content/home/txt-icon.png")" border="0px" width="64px" height="64px" /></a>
            <a href="@Url.Action("DownloadBook", "Home", new { bookName = "Academy.fb2" })"><img src="@Url.Content("~/Content/home/fb2-icon.png")" border="0px" width="64px" height="64px" /></a>
            <a href="@Url.Action("DownloadBook", "Home", new { bookName = "Academy.rtf" })"><img src="@Url.Content("~/Content/home/rtf-icon.png")" border="0px" width="64px" height="64px" /></a>
            <a href="https://play.google.com/store/apps/details?id=just.smile.book.AOUGPDVTKXSAQBBRK"><img src="@Url.Content("~/Content/home/google-play-icon.png")" border="0px" width="64px" height="64px" /></a>
        </div>
    </div>
    @*<div class="block school image">
            <div class="title">Портреты героев Школы</div>
            <div>Смотреть портреты героев из книги Школа.</div>
            <a class="see" href="#"><img src="@Url.Content("~/Content/home/down.png")" border="0px" width="64px" height="64px"></a>
            <a class="see" style="display: none;" href="#"><img src="@Url.Content("~/Content/home/up.png")" border="0px" width="64px" height="64px"></a>
            <a id="full" href="#"><img src="@Url.Content("~/Content/home/full-screen.png")" border="0px" width="64px" height="64px"></a>
            <div id="galleria">
                <img src="@Url.Content("~/Content/home/hero/03 Lera 226x320.jpg")">
                <img src="@Url.Content("~/Content/home/hero/02 Ivan 220x320.jpg")">
                <img src="@Url.Content("~/Content/home/hero/01 Ira 260x320.jpg")">
                <img src="@Url.Content("~/Content/home/hero/04 Pavel 226x320.jpg")">
                <img src="@Url.Content("~/Content/home/hero/LeraS v1.jpg")">
                <img src="@Url.Content("~/Content/home/hero/Denis v3 226x320.jpg")">
                <img src="@Url.Content("~/Content/home/hero/Nata v3 3.jpg")">
            </div>
        </div>*@
    <div class="block contact">
        <div class="title">Общение</div>
        <div>
            Вы можете посетить группу вконтакте для непосредственного общения.
        </div>
        <div>
            Вы можете посетить блог, где публикуются новые главы книги.
        </div>
        <div>
            <a href="http://vk.com/lvov_pavel"><img src="@Url.Content("~/Content/home/vk-icon.png")" border="0px" width="64px" height="64px" /></a>
            <a href="http://jinoptimist.livejournal.com/"><img src="@Url.Content("~/Content/home/lj-icon.png")" border="0px" width="64px" height="64px" /></a>
        </div>
    </div>
    
    @*<div class="block school faq">
            <div class="title">Чего ждать от Школы?</div>
            <div id="description">
                Смышлёных школьников с мыслями о том как устроен мир.
                Любовных переживаний. И конечно рабынь. Да, да, <b>Рабынь</b>.
                В книге есть 4 главных героя-одноклассника.
                У каждого из них свой круг общения и свои проблемы. Кто-то не может признаться в любви парню,
                кто-то не может определиться какой друг важней, а один из героев находит объявление
                "Требуется тренер рабынь"... Только сразу остужу особо пылких.
                Никакого изнасилования рабынь на каждой второй странице нет и не будет.
                В принципе, главный герой и сам-то не уверен, что это настоящие рабыни.
                Потому помните, это лишь часть общего сюжета. На мой счёт, далеко не самая важная.
                Cюжет же закручивается отдельно вокруг каждого из героев и органично переплетается с другими.
            </div>
        </div>*@


    <a id="full-end" href="#" class="full"><img src="@Url.Content("~/Content/home/full-screen-rev.png")" border="0px" width="64px" height="64px"></a>
    <div id="galleria-full" class="full">
        <img src="@Url.Content("~/Content/home/hero/00 Lera.jpg")">
        <img src="@Url.Content("~/Content/home/hero/00 Ivan.jpg")">
        <img src="@Url.Content("~/Content/home/hero/00 Ira.jpg")">
        <img src="@Url.Content("~/Content/home/hero/00 Pavel.jpg")">
        <img src="@Url.Content("~/Content/home/hero/LeraS v1.jpg")">
        <img src="@Url.Content("~/Content/home/hero/Denis v3.jpg")">
        <img src="@Url.Content("~/Content/home/hero/Nata v3 3.jpg")">
    </div>


</body>
</html>