@using Dao.Model
@model Dao.Model.UserFromVk

<tr>
    <td>@Model.VkId</td>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Nickname</td>
    <td>@(Model.Sex == EnumSex.Man ? "Мальчик" : "Девочка")</td>
    <td>
        @if (Model.FriendIds != null && Model.FriendIds.Any())
        {
            <text>@Model.FriendIds.Select(x => x.FriendsId).Select(x => x.ToString()).Aggregate((i, j) => i + " " + j) * </text>
        }
    </td>
</tr>